.container {
  padding-inline: 32px;
}

@media (min-width: 768px) {
  .container {
    padding-inline: 64px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-inline: 0px;
    margin: 0 auto;
    max-width: 1200px;
  }
}
