@import "tailwindcss";
@import "./_typography.css";
@import "./pages.css";
@import "./_atomes.css";

@theme {
  /* primary color */
  --color-base-primary: #DEB254;
  --color-200-primary: #ECD59C;
  --color-400-primary: #D79E38;
  --color-500-primary: #C7882B;
  --color-base-black: #212324;
  --color-base-white: #FFFFFF;

  --color-grey: #626769;
  --bg-main: #F8F8F8;
}
