@import "tailwindcss";
@import "./_typography.css";
@import "./pages.css";
@import "./_atomes.css";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: var(--color-white-bg);
}

.triangle {
  background-color: var(--color-base-primary);
  height: 100px;
  width: 100px;
  clip-path: polygon(100% 31%, 0 100%, 100% 100%);
}

@theme {
  /* primary color */
  --color-base-primary: #DEB254;
  --color-200-primary: #ECD59C;
  --color-400-primary: #D79E38;
  --color-500-primary: #C7882B;
  --color-base-black: #212324;
  --color-base-white: #FFFFFF;

  --color-base-grey: #626769;
  --color-white-bg: #F8F8F8;
}
